/* Feel free to change me and make me your own! */

body {
  background-color: #e8eceb4d; 
  font-family: 'Times New Roman', Times, serif; 
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
}

h1 {
  text-align: center; 
  font-size: 36px; 
}

h2 {
  font-size: 24px; 
}

p {
  text-align: center; 
  font-size: 16px; 
}

ul {
  font-size: 16px; 
  list-style-type: circle; 
}

code {
 font-family: 'Courier New', monospace; 
}